<h1>AJAX Atomics - 02</h1>

<script type="text/javascript" src="/global.js"></script>

<ol>
   <li>
     <b>
       What is the difference between this atomic and the first atomic?
     </b>
     <p>
       This one used the req.open() to refer to a path defined in the app.rb file instead of referring to a file directly.
     </p>
   </li>

 </ol>
